.card {
  width: 100%;
  height: 100px; 
  display: flex;
  justify-content: space-between;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.left {
  align-self: flex-start;
}

.middle {
  align-self: center;
  flex-direction: column;
  display: flex;
}

.right {
  align-self: flex-end
}
