:root {
    --color0: white;
    --color1: palegreen;
    --color2: lightgreen;
    --color3: limegreen;
    --color4: forestgreen;
    --color5: darkgreen;
    --solid-border: 2px solid black;
    --dashed-border: 2px dashed black;
}
* {
    box-sizing: border-box;
}

table {
    border: 2px solid black;
    margin: auto;
    height: 100px;
    width: 60%;
    
}

.available-0 {
    background-color: var(--color0);
}

.available-1 {
    background-color: var(--color1);
}

.available-2 {
    background-color: var(--color2);
}

.available-3 {
    background-color: var(--color3);
}

.available-4 {
    background-color: var(--color4);
}

.available-5 {
    background-color: var(--color5);
}

.half {
    position: relative;
    width: 100px;

}
.sharp td{
    border-bottom: var(--solid-border);
    
}

.half td {
    border-bottom: var(--dashed-border);
}

#legend {
    text-align: center;
    padding-top: 40px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
}



#legend-gradient {
    border: 1px solid black;
    width: 73px;
    height: 16px;
    margin-top: 10px;
    background-image: linear-gradient(to right, 
    var(--color0) 0% 16%, 
    var(--color1) 16% 33%,  
    var(--color2) 33% 50%, 
    var(--color3) 50% 66%, 
    var(--color4) 66% 83%,  
    var(--color5) 83% 100%
  );
}

.left {
    position: relative;
    right: 60px;
    bottom: 17px;

}

.right {
    position: relative;
    left: 60px;
    bottom: 51px;
}
