html {
  font-size: 24px;
}

body {
  padding: 20px;
  margin: 10px;
}

.newspaper {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid black;
  padding: 15px;
  background-color: #f2f2f2;
}

.date {
  text-align: center;
  
}

.name {
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
}

.author {
  text-transform: uppercase;
  font-weight: bold;

}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-weight: normal;
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
  
}

.text {
  text-indent: 20px;
  line-height: 2em;
  text-align: justify;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}
