body {
  background: #FFFAF0;
  margin: auto;
  padding: auto;
}

h1 {
  text-align: center;
}

.container {
  padding-top: 20px;
  padding-bottom: 30px;


}


form {
  padding-left: 60px;
  padding-right: 40px;
  
}

label {
  display: block;
  padding-top: 10px;
  margin-bottom: 6px;
}

input[type="text"] {
  width: 400px;
  height: 20px;
  border-color: navy;
  
}

input[type="email"] {
  width: 400px;
  height: 20px;
  border-color: navy;
}


#position {
  width: 410px;
  height: 24px;
  border: 2px solid  navy;
  margin-bottom: 10px;
}


.radio-group {
  width: 380px;
  height: 80px;
  border: 2px solid  navy;
  padding-bottom: 10px;
  
  
}

.radio-group label {
  display: inline-block;
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  

}

textarea {
  width: 400px;
  height: 120px;
  border: 2px solid  navy;
  padding-top: 10px;
}

button {
  margin-top: 10px;
  width: 99px;
  height: 25px;
  cursor: pointer;
}


input:focus,
textarea:focus {
  border-color: navy;
  outline: none; 
}

input:invalid, 
select:invalid, 
textarea:invalid {
  border-color: red;
}

input:valid, 
select:valid, 
textarea:valid {
  border-color: green;
}

button:hover {
  background-color: darkblue;
  color: white;
}

.radio-group input[type="radio"]:checked {
  border-color: yellow;
  background-color: orange;
  box-shadow: 0 0 5px 2px black;
}

.radio-group label span {
    color: black; 
    cursor: pointer;
}

.radio-group input[type="radio"]:checked + label {
  color: navy;
  font-weight: bold;
}

input:first-of-type {
  border: 2px solid orange;
  background-color: #fff8dc; 
}

input:nth-of-type(2) {
  border: 2px solid orange;
  background-color: #fff8dc; 
}

select:first-of-type {
  border: 2px solid orange;
  background-color: #fff8dc; 

}
