@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

}

@media only screen and (min-width: 768px) {
    body { font-size: 16px; }
    #navbar { width: 200px; }
}
@media only screen and (max-width: 1024px){
    body { font-size: 18px; }
    #navbar { width: 300px; }
}

html, body {
    font-family: 'Open sans', sans-serif, Arial;
}

body {
    font-size: 16px;
    display: flex;
    margin: 0;
}

header {
    font-size: 34px;
    text-decoration: none;
    width: 350px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
}

#navbar {
    text-decoration: none;
    gap: 15px; 
    border: 2px solid rgb(83, 82, 82);
    align-items: center;
    
}

.nav-link{
    text-decoration: none;
    color: gray;
    left: 10px;
    text-align: left;
    display: block;
    border-top: 2px solid black;
    padding: 20px;

}

#main-doc {
    padding: 10px;
    margin: 5px;
}

#main-doc header {
    margin-left: 22px;
    padding-left: 10px;
    width: 100%;
    text-align: left;
}
