body {
  background: linear-gradient(lightblue 60%, green 60%);
  align-items: center;
  justify-content: center;
  display: flex;
}



#house {
  position: relative;
  border: 1px solid black;
  width: 500px;
  height: 400px;
  background-color: grey;
  margin-top: 50px;
  
}

#chimney {
  position: absolute;
  width: 150px;
  height: 65px;
  border: 5px solid chocolate;
  background-color: orange;
  top: -65px;
  right: 2px;
  z-index: -1;
  

}

#roof {
  position: absolute;
  height: 97px;
  width: 498px;
  background-color: darkorange;
  border: 2px solid black;
  top: 0;
  
}

#window-1 {
  position: absolute;
  width: 80px;
  height: 100px;
  border: 4px solid black;
  background-color: #FAF3DD;
  bottom: 100px;
  right: 35px;
}

.line-1 {
  position: absolute;
  width: 1x;
  height: 100px;
  border: 2px solid black;
  bottom: 0;
  right: 40px;
}

#window-2 {
  position: absolute;
  width: 80px;
  height: 100px;
  border: 4px solid black;
  background-color: #FAF3DD;
  bottom: 100px;
  left: 35px;

}

.line-2 {
  position: absolute;
  width: 1x;
  height: 100px;
  border: 2px solid black;
  bottom: 0;
  left: 40px;
}

#door {
  position: absolute;
  height: 150px;
  width: 100px;
  border: 3px solid black;
  background-color: brown;
  left: 160px;
  bottom: 0;
 

}

.circle {
  background-color: black;
  width: 20px;
  height: 20px;
  bottom: 65px;
  position: absolute;
  border-radius: 15px;
  left: 79px;
}

#welcome {
  position: absolute;
  border: 2px solid black;
  bottom: -60px;
  left: 180px;
  height: 40px;
  width: 75px;
  text-align: center;
  background-color: pink;
  transform: skew(-15deg);

}
